.footer {
  width: 100%;
  background-color: #f3f3f3;
  padding: 40px 0;
}
.containerFooter {
  max-width: 1400px;
  margin: 0 auto;
}
.footerRow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.footerLinks {
  width: 20%;
  padding: 0 15px;
}
.footerLinks h4 {
  font-size: 20px;
  color: #000;
  margin-bottom: 25px;
  font-weight: 500;
  border-bottom: 2px solid #4b8236;
  display: inline-block;
  padding-bottom: 10px;
}
ul {
  list-style: none;
}
.footerLinks ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}
.footerLinks ul li a:hover {
  color: #4b8236;
  padding-left: 6px;
}
.socialLink a {
  display: inline-block;
  min-height: 40px;
  width: 40px;
  background-color: rgba(0, 0, 0, 0.541);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.socialLink a:hover {
  background-color: #4b8236;
}
.footerLinks h4 span {
  color: #4b8236;
}
@media (max-width: 991px) {
  .footerRow {
    text-align: center;
  }
  .footerLinks {
    width: 100%;
    margin-bottom: 30px;
  }
}
