html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

.mainContainer {
  position: relative;
}

.heroSection {
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  position: relative;
  z-index: 1;
}

.heroSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 2;
}

.contentWrapper {
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 50px;
}

.searchContainer {
  background-color: white;
  padding: 70px 60px;
  border-radius: 224px 224px 0 0;
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 4;
}

.searchContainer h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.searchContainer p {
  color: #666;
  margin-bottom: 30px;
  font-size: 1rem;
}

.searchFilters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 80%;
  max-width: 700px;
}

.searchInput {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 5px 9px;
  flex-grow: 1;
  background-color: white;
}

.searchInput input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1rem;
}

.searchInput button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #555;
}

.municipioSelect {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  font-size: 1rem;
  color: #555;
  cursor: pointer;
  flex-shrink: 0;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23555555"><path d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 1em;
  padding-right: 30px;
}
.cardsSection {
  background-color: white;
  padding-bottom: 50px;
  padding-top: 50px;
  width: 100%;
  position: relative;
  z-index: 3;
}

.cardsContainer {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin-top: 0;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.card {
  background-color: #f9f9f9;
  border-radius: 16px;
  overflow: hidden;
  width: 320px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s, box-shadow 0.3s;

  display: flex;
  flex-direction: column;
}
.card img {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;

  width: 85%;
  height: 200px;
  object-fit: cover;
  border-radius: 6%;
}

.cardContent {
  padding: 15px;
  text-align: center;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card h3 {
  margin-top: 10px;
  font-size: 1.4rem;
  color: #000000;
  font-weight: bold;
}

.card p {
  color: #555;
  font-size: 0.9rem;
  line-height: 1.4;

  margin-bottom: auto;

  min-height: 40px;

  padding: 0 15px;
  margin-top: 0;
}

.detailsButton {
  background-color: #4b8236;
  color: white;
  border: none;
  padding: 12px 25px;
  border-radius: 13px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s;
  display: inline-block;
  margin-top: 10px;
}

.detailsButton:hover {
  background-color: #42702f;
}

@media (max-width: 1240px) {
  .cardsContainer {
    max-width: 1160px;
  }
}

@media (max-width: 1024px) {
  .heroSection {
    height: 400px;
  }
  .searchContainer {
    padding: 40px 30px;
    max-width: 750px;
    border-radius: 150px 150px 0 0;
  }
  .searchContainer h2 {
    font-size: 2rem;
  }
  .searchFilters {
    width: 90%;
  }
  .cardsContainer {
    max-width: 800px;
    gap: 20px;
    justify-content: center;
  }
  .card {
    width: 30%;
    min-width: 250px;
  }
}

@media (max-width: 768px) {
  .heroSection {
    margin-top: 80px;
    height: 550px;
    padding-top: 20px;
  }
  .searchContainer {
    padding: 30px 20px;
    border-radius: 80px 80px 0 0;
  }
  .searchContainer h2 {
    font-size: 1.8rem;
  }
  .searchFilters {
    flex-direction: column;
    width: 95%;
    gap: 10px;
  }
  .searchInput {
    width: 100%;
    order: 1;
  }
  .municipioSelect {
    width: 100%;
    order: 2;
  }

  .cardsContainer {
    padding: 0 15px;
    max-width: 600px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .card {
    width: 90%;
    min-width: 280px;
    max-width: 350px;
    padding-bottom: 20px;
  }
  .card p {
    min-height: auto;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .heroSection {
    height: 500px;
  }
  .searchContainer {
    padding: 30px 30px;
    border-radius: 40px 40px 0 0;
  }
  .searchContainer h2 {
    font-size: 1.5rem;
  }
  .searchFilters {
    width: 100%;
    padding: 0 10px;
  }
  .cardsContainer {
    flex-direction: column;
    align-items: center;
  }
  .card {
    width: 90%;
    max-width: 350px;
  }
  .card img {
    height: 180px;
  }
  .card h3 {
    font-size: 1.2rem;
  }
}
.adminButtons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 10px;
  margin-top: 10px;
}

.editButton {
  background-color: #4b8236;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.editButton:hover {
  background-color: #3f6c2e;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #b02a37;
}
.createCard {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed #42702f;
  background-color: #f0fff1;
  transition: all 0.3s ease;
}

.createCard:hover {
  background-color: #7ccf5c3c;
  transform: scale(1.03);
}

.createContent {
  text-align: center;
  color: #4b8236;
}

.plusIcon {
  font-size: 40px;
  display: block;
  margin-bottom: 8px;
}

.createLink {
  text-decoration: none;
  color: inherit;
}
