.header {
  width: 100%;
  height: 80px;
  display: flex;
  background-color: #f3f3f3;
  box-sizing: border-box;
  padding: 0 30px;
  align-items: center;
  justify-content: space-between;
  z-index: 99999;
}
.headerContainer {
  z-index: 99999;
  position: relative;
}

.containerLogo {
  display: flex;
  align-items: center;
}
.containerLogo h1 {
  font-weight: 800;
  font-size: 24px;
}
.containerLogo a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.titleSpan {
  color: #4b8236;
  font-weight: 800;
}

.containerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navList {
  height: 80px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 70px;
  justify-content: center;
  align-items: center;
}
.navList li:not(.profileLink) a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  padding-bottom: 0;
  position: relative;
  display: inline-block;
}
.navList li:not(.profileLink) a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4b8236;
  transition: width 0.3s ease-in-out;
  color: #4b8236;
}
.navList li:not(.profileLink) a:hover::after {
  width: 100%;
  color: #4b8236;
}

.containerLinks img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  vertical-align: middle;
}
.profileLink a {
  text-decoration: none;
}

.menuToggle {
  display: none;
}
.hamburgerIcon {
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 20;
}

.bar {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3px;
  background-color: #000;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}

.barTop {
  transform: rotate(45deg);
}

.barMiddle {
  opacity: 0;
  transform: translateX(-20px);
}

.barBottom {
  transform: rotate(-45deg);
}

@media (max-width: 768px) {
  .header {
    padding: 0 15px;
    z-index: 99999;
    position: fixed;
    top: 0;
    width: 100%;
  }

  .containerLogo h1 {
    font-size: 20px;
  }

  .menuToggle {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    z-index: 999999;
  }

  .containerLinks {
    position: fixed;
    top: 80px;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    background-color: #f3f3f3;

    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
    justify-content: center;
    align-items: center;
    padding: 0;
    z-index: 999998;
  }
  .menuOpen {
    transform: translateX(0);
  }

  .navList {
    flex-direction: column;
    text-align: center;
    gap: 40px;
    width: 100%;
    padding: 0;
    margin-top: -100px;
  }
  .navList li:not(.profileLink) a {
    font-size: 26px;
    font-weight: 500;
    color: #000000;
    padding-bottom: 0;
    position: relative;
    display: inline-block;
  }
  .navList li:not(.profileLink) a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4b8236;
    transition: width 0.3s ease-in-out;
  }

  .navList li:not(.profileLink) a:hover::after {
    width: 100%;
  }

  .profileLink {
    position: absolute;
    top: 80px;
    right: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 999990;
  }

  .profileLink img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
  }
}
@media (max-width: 468px) {
  .containerLogo h1 {
    font-size: 16px;
  }
}
